<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>재귀 컴포넌트</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<!--컴포넌트는 자신의 템플릿에서 재귀적으로 호출할 수 있다.
그러나, 그들은 name 옵션으로만 가능
name: 'unique-name-of-my-component'
-->

<body>

<div id="app-1">
    <comp :list="list"></comp>
</div>

<!--
Vue.component를 사용하여 컴포넌트를 전역적으로 등록하면,
글로벌 ID가 컴포넌트의 name 옵션으로 자동 설정
-->

<script>

    Vue.component('comp', {
        props: ['list'],
        template: '<ul>' +
        '<li v-for="item in list">{{item.value}}' +
        '<comp v-if="item.children" :list="item.children"></comp>' +
        '</li>' +
        '</ul>'
    })

    var app1 = new Vue({
        el: "#app-1",
        data: {
            list: [
                { value: 'foo' },
                { value: 'bar', children: [
                    { value: 'baz' }
                ] }
            ]
        }
    })


</script>

</body>
</html>