<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on을 이용한 사용자 지정 이벤트</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<!--
모든 Vue 인스턴스는 다음과 같은 이벤트 인터페이스를 구현합니다.
$on(eventName)을 사용하여 이벤트를 감지 하십시오.
$emit(eventName)을 사용하여 이벤트를 트리거 하십시오.
-->
<!--Vue의 이벤트 시스템은 브라우저의 EventTarget API와 별개-->
<!--
 부모 컴포넌트는 자식 컴포넌트가 사용되는 템플릿에서
 직접 v-on 을 사용하여 자식 컴포넌트에서 보내진 이벤트를 청취할 수 있습니다
-->
<!-- $on은 자식에서 호출한 이벤트는 감지하지 않습니다. v-on을 템플릿에 반드시 지정해야 함 -->

<body>

<!--하위 컴포넌트가 외부에서 발생 하는 것과 완전히 분리 된다-->
<!--부모 인스턴스 data변동이 자식에게 no effect-->
<div id="app-1">
    <p>{{total}}</p>
    <!-- v-on으로 emit인스턴스 메소드로 등록한 자식의 'increment'와 부모의 incrementTotal을 바인딩 -->
    <button-counter v-on:increment="incrementTotal"></button-counter> /
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<script>

    Vue.component('buttonCounter', {
        template: '<button v-on:click="incrementCounter">{{counter}}</button>', //템플릿에서 자신의 메소드를 바인딩
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            incrementCounter: function(){
                this.counter += 1
                this.$emit('increment') //부모에게 보낼 메시지 이름을 emit 인스턴스 메소드로 지정
                                         //incremetCounter메소드가 호출되면 incrememt로 정의(emint)된 메시지가 부모에게 간다
                                         //increment에 바인딩 되는 이벤트는 컴포넌트 태그가 호출될 때 부모의 메소드로 바인딩 됨
            }
        }
    })

    var app1 = new Vue({
        el: "#app-1",
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function () {
                this.total+= 1
            }
        }
    })
</script>
<!--
컴포넌트의 루트 엘리먼트에서 네이티브 이벤트를 수신하려는 경우가 있을 수 있다.
이러한 경우 v-on 에 .native 수식자를 사용할 수 있다.
<my-component v-on:click.native="doTheThing"></my-component>
-->


</body>
</html>