<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on을 이용한 사용자 지정 이벤트</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<!--
모든 Vue 인스턴스는 다음과 같은 이벤트 인터페이스를 구현합니다.
$on(eventName)을 사용하여 이벤트를 감지 하십시오.
$emit(eventName)을 사용하여 이벤트를 트리거 하십시오.
-->
<!--Vue의 이벤트 시스템은 브라우저의 EventTarget API와 별개-->
<!--
 부모 컴포넌트는 자식 컴포넌트가 사용되는 템플릿에서
 직접 v-on 을 사용하여 자식 컴포넌트에서 보내진 이벤트를 청취할 수 있습니다
-->
<!-- $on은 자식에서 호출한 이벤트는 감지하지 않습니다. v-on을 템플릿에 반드시 지정해야 함 -->

<body>

<div id="app-1">

</div>

<script>
    var app1 = new Vue({
        el: "#app-1"
    })
</script>

</body>
</html>