<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>단방향 데이터 흐름</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

<div id="app-1">
    <my-comp :init-props="1"></my-comp>
    <my-comp :size="ABCdefgH"></my-comp>
</div>

<script>
//    prop는 초기 값을 전달 하는데만 사용되며 하위 컴포넌트는 이후에 이를 로컬 데이터 속성으로 사용하기만 합니다.
//    prop의 초기 값을 초기 값으로 사용하는 로컬 데이터 속성
    Vue.component('myComp', {
        props: {
            initProps: '',
            size: ''
        },
        data: function () {
            return {counter: this.initProps}
        },
        computed: {
            nomalizeSize: function () {
                return this.size.trim().toLowerCase()
            }
        },
        template: '<span>{{counter}}{{nomalizeSize()}}</span>'
    })

    var app1 = new Vue({
        el: "#app-1"
    })

</script>

</body>
</html>